---
import Layout from '/src/layouts/Layout.astro';
import HomeContent from '/src/layouts/HomeContent.astro';
---

<Layout>
	<div class="text-content mx-auto max-w-[1150px] py-4">
		<h2 class="section-title">Tools</h2>
	</div>

	<div class="box-container max-w-[1200px] pages-link">
		<div class="box">
			<div class="text-title-tools">Marine Metagenomics</div>
			<p>
				<a href="https://mmp.sfb.uit.no/">The Marine Metagenomics Portal</a> provides
				access to high-quality curated and freely accessible marine microbial genomics
				and metagenomics resources. It includes the MAR databases, a collection of
				richly annotated and manually curated contextual and sequence databases,
				and MetaPipe, a complete workflow for the analysis of marine metagenomic
				data.
			</p>
		</div>
		<div class="box">
			<div class="text-title-tools">SalmoBase</div>
			<p>
				<a href="https://salmobase.org/">SalmoBase</a> is a comprehensive data resource
				for Atlantic salmon and other salmonid genome information.
			</p>
		</div>
		<div class="box">
			<div class="text-title-tools">Licebase</div>
			<p>
				<a href="https://licebase.org/">Licebase</a> is a model organism database
				collecting genomic information and annotation of the Atlantic salmon louse,
				a major fish parasite with an impact on global ecology and aquaculture economy.
			</p>
		</div>
		<div class="box">
			<div class="text-title-tools">HyperBrowser</div>
			<p>
				The <a href="https://hyperbrowser.uio.no/"
					>GSuite/Genomic HyperBrowser</a
				> is an open-ended web-server for analysis of large scale genomic and epigenomic
				tracks, built on Galaxy. It offers an easy and straightforward way to manage
				and analyse collections of genomic tracks
			</p>
		</div>
	</div>
	<div class="box-container max-w-[1200px] pb-10 pages-link">
		<div class="box">
			<div class="text-title-tools">BioXSD/GTrack</div>
			<p>
				The <a href="http://bioxsd.org/">BioXSD/GTrack ecosystem</a> is a family
				of interoperable data formats and supportive tools for biomolecular sequences,
				features, alignments, references.
			</p>
		</div>
		<div class="box">
			<div class="text-title-tools">FAIRtracks</div>
			<p>
				<a href="https://fairtracks.github.io/">FAIRtracks</a> is an ecosystem for
				gathering, curating, validating, integrating, and indexing the metadata of
				genomic track datasets
			</p>
		</div>
		<div class="box">
			<div class="text-title-tools">CarveME</div>
			<p>
				<a href="https://github.com/cdanielmachado/carveme">CarveMe</a> is a software
				tool for automated generation of genome-scale metabolic models
			</p>
		</div>
		<div class="box">
			<div class="text-title-tools">SARS-CoV2 DB</div>
			<p>
				<a href="https://covid19.sfb.uit.no/">SARS-CoV2 DB</a> is a database with
				high-quality curated and freely accessible SARS-CoV-2 genomics- and contextual
				resources.
			</p>
		</div>
	</div>
</Layout>
